<!DOCTYPE html>
<html>

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141674173-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-141674173-1');
  </script>

  <title>Object Detection</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />
  <meta name="description"
    content="InceptionResNetv2 model, trained on images from the ILSVR Challenge with 1000 categories." />

  <!-- HOSTED -->
  <link
    href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,600italic,300italic,400italic,300,700italic,800italic,800'
    rel='stylesheet' type='text/css'>
  <link href="/static/fonts/mdi/css/materialdesignicons.min.css" media="all" rel="stylesheet" />

  <!-- LOCAL -->
  <link rel="stylesheet" href="/static/style/single_page_style.css">
  <link rel='shortcut icon' href='/static/favicon.ico' type='image/x-icon' />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  <!-- HOSTED -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.0/jquery.waypoints.min.js"></script>

  <!-- LOCAL -->
  <script src="/static/scripts/single_page.js"></script>
</head>

<body>
  <div class="overflow-wrap dark-bg content">
    <!-- DEMOS -->
    <div class="container flex">
      <div class="header waypoint" data-animation="slide-in-left">OBJECT DETECTION</div>
      <div class="header-bar waypoint" data-animation="slide-in-left" data-delay=".5s"></div>

      <div id="desc">
        <p>Choose an image to run inference of a
          <a class="highlight" href="https://arxiv.org/pdf/1708.02002.pdf" target="_blank">RetinaNet</a>
          model with <a class="highlight" href="{{ link }}" target="_blank">{{  name  }}</a> backbone trained on
          <a class="highlight" href="http://www.image-net.org/" target="_blank">ImageNet</a>!</p>
      </div>

      <form method="POST" id="file-form" enctype=multipart/form-data> <label for="file-upload"
        class="custom-file-upload">
        UPLOAD IMAGE
        </label>
        <input id="file-upload" type=file name=file onchange="submitImage()">
      </form>

      <div id="error" class="hide highlight">
        <p>There was an error in the format of the image (only .png, .jpg, .gif are allowed)</p>
      </div>

      <h2 id="results" class="hide">Results</h2>

      <p id="estimate" class="hide"><em>This will take about 10 seconds!</em></p>

      <div id="progress" class="progress hide">
        <div class="progress-bar"></div>
      </div>

      <div id="showImg" class="image-container">
        <img id="image" src="" class="image" style="max-height:400px">

        <svg id="spinner" class="spinner hide" width="174px" height="174px" viewBox="0 0 66 66">
          <circle class="path" fill="transparent" stroke-width="2" cx="33" cy="33" r="30" stroke="url(#gradient)" />
          <linearGradient id="gradient">
            <stop offset="50%" stop-color="#04c2c9" stop-opacity="1" />
            <stop offset="65%" stop-color="#04c2c9" stop-opacity=".5" />
            <stop offset="100%" stop-color="#04c2c9" stop-opacity="0" />
          </linearGradient>
          </circle>
          <svg class="spinner-dot dot" width="5px" height="5px" viewBox="0 0 66 66" x="37" y="1.5">
            <circle class="path" fill="#04c2c9" cx="33" cy="33" r="30" />
            </circle>
          </svg>
        </svg>
      </div>

      <div id="retry" class="padding-16 hide">
        <a href="{{ url_for('object_detection.show') }}"
          class="button padding-large black xlarge wide animate-opacity">TRY ANOTHER</a>
      </div>

      <div id="analyzeButton" class="padding-16 hide">
        <a id="analyzeLink" class="button padding-large black xlarge wide animate-opacity">ANALYZE</a>
      </div>
    </div>
  </div>
</body>
<!-- Footer -->
<footer>
  <a class=" mdi mdi-chevron-double-left page-link" href="{{ url_for('home') }}"></a>

  <div class="icon-wrap flex row">
    <a href="https://github.com/DollofCuty" target="_blank">
      <div class="flex icon" id="icon-2">
        <i class="fab fa-github fb"></i>
      </div>
    </a>
    <a href="https://www.kaggle.com/dollofcuty/competitions" target="_blank">
      <div class="flex icon" id="icon-3">
        <i class="fab fa-kaggle fb"></i>
      </div>
    </a>
    <a href="https://angel.co/christian-unterrainer" target="_blank">
      <div class="flex icon" id="icon-4">
        <i class="fab fa-angellist fb"></i>
      </div>
    </a>
    <a href="https://www.xing.com/profile/Christian_Unterrainer3" target="_blank">
      <div class="flex icon" id="icon-5">
        <i class="fab fa-xing fb"></i>
      </div>
    </a>
  </div>
  <div class="info-box">
    <div class="footnote">CHRISTIAN UNTERRAINER <span class="highlight">&copy;2019</span></div>
  </div>
</footer>

</html>

<script>

  function submitImage() {
    var form_data = new FormData($('#file-form')[0]);
    var url = "{{ url_for('upload.upload_file', reason='object-detection') }}";
    $("#progress").removeClass("hide");
    $("#file-form").addClass("hide");
    $.ajax({
      xhr: function () {
        var xhr = new window.XMLHttpRequest();

        xhr.upload.addEventListener("progress", function (evt) {
          if (evt.lengthComputable) {
            var percentComplete = evt.loaded / evt.total;
            percentComplete = parseInt(percentComplete * 100);
            document.getElementsByClassName("progress-bar")[0].style.width = percentComplete + "%";
          }
        }, false);

        return xhr;
      },
      type: 'POST',
      url: url,
      data: form_data,
      contentType: false,
      cache: false,
      processData: false,
      success: function (d) {
        $("#progress").addClass("hide");
        document.getElementsByClassName("progress-bar")[0].style.width = "0%";

        $("#image").attr("src", d.img_path);
        $("#file-form").addClass("hide");
        $("#desc").addClass("hide");
        $("#error").addClass("hide");
        $("#estimate").removeClass("hide");
        $("#analyzeButton").removeClass("hide");
        analyzeLink = "/object-detection/" + d.img_path.substring(d.img_path.lastIndexOf("/") + 1, d.img_path.length)
      },
      error: function (d) {
        $("#progress").addClass("hide");
        $("#file-form").removeClass("hide");
        $("#error").removeClass("hide");

        document.getElementById("error").style.opacity = "1";
        $("#error").animate({
          opacity: 0,
        }, 5000);
      }
    });
  }

  $('#analyzeLink').click(function (e) {
    e.preventDefault();
    $("#analyzeButton").addClass("hide");
    $("#spinner").removeClass("hide");
    const url = analyzeLink;
    fetch(url)
      .then(response => response.json())
      .then(result => showResult(result));
  });

  function showResult(result) {
    $("#image").attr("src", result.img_path);
    $('#results').removeClass("hide");
    $("#retry").removeClass("hide");
    $("#estimate").addClass("hide");
    $("#spinner").addClass("hide");
  }

</script>